/* 画面サイズ：1191px以上 */

body {
    font-family: "Hiragino Kaku Gothic Pro", "���C���I", Meiryo, Osaka, "�l�r �o�S�V�b�N", "MS PGothic", sans-serif;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing: grayscale;
}



/* フォント */
.title01 {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1.5px;
    line-height: 1.6;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #333333;
}

.title02 {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1.5px;
    line-height: 1.6;
    color: #333333;
}

.title03 {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1.5px;
    line-height: 1.6;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #EBB94D;
}

.title04 {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1.5px;
    line-height: 1.6;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #ffffff;
}

.textXXL01 {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1.5px;
    line-height: 1.6;
    color: #333333;
}

.textXXL02 {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1.5px;
    line-height: 1.6;
    color: #ffffff;
}

.textXXL03 {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1.5px;
    line-height: 1.6;
    color: #ffffff;
    margin-bottom: 10px;
}

.textXL01 {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 3px;
    line-height: 1.7;
    margin-bottom: 10px;
    color: #ffffff;
}

.textXL02 {
    font-size: 24px;
    letter-spacing: 2px;
    line-height: 1.6;
    margin-bottom: 10px;
    color: #f7c23b;
}

.textL01 {
    font-size: 20px;
    letter-spacing: 1.5px;
    line-height: 1.6;
    margin-bottom: 24px;
}

.textL02 {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1.5px;
    line-height: 1.6;
    margin-bottom: 10px;
    color: #333333;
}

.textL03 {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1.5px;
    line-height: 1.1;
    margin-bottom: 10px;
    color: #333333;
}

.textL04 {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1.5px;
    line-height: 1.6;
    margin-bottom: 10px;
    color: #ffffff;
}

.textL05 {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1.5px;
    line-height: 1.6;
    margin-bottom: 10px;
    color: #ffffff;
}

.textL06 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.6;
    margin-bottom: 40px;
}

.textL07 {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1.5px;
    line-height: 1.6;
    margin-bottom: 5px;
    color: #333333;
}

.textL08 {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1.5px;
    line-height: 1.6;
    margin-bottom: 34px;
}

.textL09 {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1.5px;
    line-height: 1.6;
    margin-bottom: 10px;
    color: #EBB94D;
}

.textM01 {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1.5px;
    line-height: 1.6;
    margin-bottom: 10px;
    color: #333333;
}

.textM02 {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1.5px;
    color: #c7254e;
    padding: 2px 4px;
    background-color: #F9F2F4;
    border-radius: 4px;
}

.textS01 {
    font-size: 16px;
}

.textS02 {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.5px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.textS03 {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.5px;
    line-height: 1.6;
    margin-bottom: 10px;
    color: #333333;
}

.textS04 {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.5px;
    line-height: 1.6;
    margin-bottom: 10px;
    color: #ffffff;
}

.textS05 {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1.5px;
    line-height: 1.6;
    margin-bottom: 10px;
    color: #ffffff;
}

.textS06 {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.5px;
    margin-bottom: 20px;
    color: #ffffff;
}

.textS07 {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.5px;
    line-height: 1.6;
    color: #333333;
}

.textS08 {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1.5px;
    line-height: 1.6;
    margin-bottom: 10px;
}

.textXS01 {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.5px;
    margin-bottom: 20px;
}

.textXS02 {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.5px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.textXS03 {
    font-size: 14px;
    letter-spacing: 1.5px;
    line-height: 1.6;
    margin-bottom: 10px;
    color: #333333;
}

.textXS04 {
    font-size: 14px;
    letter-spacing: 1.5px;
    line-height: 1.6;
    margin-bottom: 10px;
    color: #FFFFFF;
}

.textContact {
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 1.5px;
    color: #fff;
}

.textXXS01 {
    font-size: 12px;
    letter-spacing: 1.5px;
    line-height: 1.6;
    margin: 10px 0;
}



/* フォントカラー */
.text-white {
    color: #fff;
}

.text-orange {
    color: #EBB94D;
}



/* 余白 */
.mb-10px {
    margin-bottom: 10px;
}

.mb-13px {
    margin-bottom: 13px;
}

.mb-20px {
    margin-bottom: 20px;
}

.mb-30px {
    margin-bottom: 30px;
}

.mb-40px {
    margin-bottom: 40px;
}

.mb-50px {
    margin-bottom: 30px;
}

.mb-60px {
    margin-bottom: 60px;
}

.mb-70px {
    margin-bottom: 70px;
}

.mb-80px {
    margin-bottom: 80px;
}

.mb-90px {
    margin-bottom: 90px;
}

.mb-100px {
    margin-bottom: 100px;
}



/* header */
.header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    width: 100%;
}

.headerWrap {
    width: 1170px;
    max-width: calc(100% - 20px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between  ;
    align-items: center;
    height: 75px;
}

.headerTitle {
    padding-top: 24px;
    padding-bottom: 25px;
    display: flex;
    align-items: flex-end;
}

.headerLogo {
    display: inline-block;
    padding-right: 6px;
}

.headerLogo img {
    width: 128px;
}

.headerText {
    display: inline-block;
    padding-bottom: 6px;
}

.headerText p {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1.5px;
    color: #333333;
}

.headerContact-pc {
    border-radius: 28px;
    padding: 14px 40px;
    background-color: #DA6B64;
}

.headerContact-pc:hover {
    background-color: #d84940;
}

.headerContact-sp {
    display: none;
}




/* sectionHero */
.sectionHero {
    width: 100%;
    height: 500px;
    background-image: url(../image/main.jpg);
	background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
    margin-top: 75px;
}

.heroInner {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform : translate(-50%,-50%);
    transform : translate(-50%,-50%);
}

.heroTitle {
    margin-bottom: 13px;
}

.heroLogo {
    width: 317px;
    margin-top: -2px;
    margin-bottom: 39px;
}



/* sectionIntro */
.sectionIntro {
    background-color: #EBB94D;
}

.introInner {
    padding: 30px 0 40px;
    text-align: center;
}

.noteBox {
    margin: 20px 0 50px;
}

.contactBtn {
    border-radius: 50px;
    padding: 31px 41px;
    margin: 0 auto 68px;
    max-width: 1028px;
    background-color: #DA6B64;
    color: #fff;
}

.br-sp {
    display: none;
}

.contactBtn:hover {
    background-color: #d84940;
}

.socialList {
    display: flex;
    justify-content: center;
    margin-top: -6px;
}

.socialItem:not(:last-child) {
    margin-left: 6px;
    margin-right: 6px;
}

.fab {
    font-size: 12px;
}

.fa-twitter {
    color: #ffffff;
}

.socialText {
    font-size: 11px;
    color: #ffffff;
}



/* sectionEngineer */
.sectionEngineer {
    background-image: url(../image/introbottom.jpg);
	background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.engineerInner {
    padding: 40px 0 110px;
    text-align: center;
}

.titleBox01 {
    width: 860px;
    max-width: calc( 100% - 40px );
    padding-top: 25px;
    padding-bottom: 15px;
    margin: 0 auto 40px;
    position: relative;
    text-align: center;
}

.titleBox01::before,
.titleBox02::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    border-top: 4px solid #EBB94D;
    border-left: 4px solid #EBB94D;
}

.titleBox01::after,
.titleBox02::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
    border-bottom: 4px solid #EBB94D;
    border-right: 4px solid #EBB94D;
}

.underline {
    font-weight: 600;
    background: linear-gradient(transparent 70%, #EAB94C 70%);
}



/* sectionSkill */
.skillInner {
    padding-bottom: 40px;
    text-align: center;
    background-color: #FEF5E0;
}

.pointArea {
    position: relative;
    top: -40px;
}

.point {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #EBB94D;
    text-align:center;
}

.point p {
    font-size: 14px;
    color: #ffffff;
    letter-spacing: 1.5px;
    line-height: 80px;
}

.sectionBox {
    width: 1170px;
    max-width: calc(100% - 40px);
    margin: 30px auto;
    padding: 30px;
    background-color: #ffffff;
    border: 2px solid #EBB94D;
    border-radius: 3px;
}

.meritBox {
    width: 1170px;
    max-width: calc(100% - 40px);
    margin: 23px auto 40px;
    padding: 30px 20px 40px;
    background-color: #ffffff;
    border: 2px solid #EBB94D;
    border-radius: 3px;
}

.skillBox {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-top: 10px;
}

.skillItem {
    padding: 10px 12px;
}



/* sectionStep */
.sectionStep {
    text-align: center;
}

.stepImageArea {
    padding-top: 58px;
    background-image: url(../image/aboutsecondbg.jpg);
	background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.textArea {
    margin: 18px 0 20px;
}

.stepBlock,
.meritBlock {
    width: 1170px;
    margin: 30px auto 0;
}

.stepList, .meritList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.stepItem {
    background-color: #ffffff;
    border-radius: 3px;
    padding: 30px 30px 10px;
    margin: 0 15px 40px 0;
    width: calc(33.3% - 15px * 2 / 3);
}

.stepItem:nth-child(3n+3) {
    margin-right: 0;
}

.stepText {
    background-color: #EBB94D;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    line-height: 1.6;
    margin-bottom: 32px;
}

.stepTextArea {
    background-color: #026ea9;
    padding: 40px 0 35px;
    text-align: center;
}

.courseTextArea {
    background-color: #026ea9;
    padding: 40px 0 30px;
    text-align: center;
}


/* sectionLearn */
.sectionLearn {
    padding: 48px 0 40px;
    text-align: center;
}

.learnList {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

.learnItem {
    padding: 0 21px;
}

.learnItem img {
    width: 100%;
}



/* sectionMerit */
.sectionMerit {
    padding: 40px 0;
    text-align: center;
    background-color: #FEF5E0;
}

.titleBox02 {
    width: 860px;
    max-width: calc( 100% - 120px );
    padding: 12px 0;
    margin: 0 auto 40px;
    position: relative;
    text-align: center;
}

.meritItem {
    padding: 0 15px 15px;
    width: 390px;
    text-align: left;
}

.itemImg {
    height: 180px;
    width: 300px;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}

.itemImg-learnfromfreelancer {
    background-image: url(../image/learnfromfreelancer.jpg);
}

.itemImg-learnfromprojects {
    background-image: url(../image/learnfromprojects.jpg);
}

.itemImg-actuallyfree {
    background-image: url(../image/actuallyfree.jpg);
}

/* sectionMenber */
.sectionMenber {
    padding-top: 80px;
    padding-bottom: 40px;
    text-align: center;
    background-image: url(../image/teacherbg.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.menberBlock {
    width: 810px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.menberCard {
    width: 375px;
    margin: 197px 15px 0;
    padding: 43px;
    border: 3px solid #fff;
    position: relative;
}

.menberCard img {
    width: 198px;
    height: 198px;
    border-radius: 50%;
    position: absolute;
    top: -165px;
    transform: translateX(-50%);
}

.text-left {
    text-align: justify;
    text-align-last: left;
}



/* sectionMessage */
.sectionMessage {
    text-align: center;
}

.messageArea {
    background-color: #EBB94D;
    padding: 40px 0 5px;
    position: relative;
}

.messageArea::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -25px;
    left: 0;
    width: 0px;
    height: 0px;
    margin: auto;
    border-style: solid;
    border-color: #EBB94D transparent transparent transparent;
    border-width: 25px 25px 0 25px;
}

.messageCircle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #fff;
    text-align:center;
    margin: 0 auto;
}

.messageCircle p {
    font-size: 14px;
    letter-spacing: 1.5px;
    color: #EBB94D;
    line-height: 80px;
}

.titleBox03 {
    width: 860px;
    max-width: calc( 100% - 40px );
    padding: 5px 0;
    margin: 0 auto 35px;
    position: relative;
    text-align: center;
}

.titleBox03::before,
.titleBox04::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    border-top: 4px solid #fff;
    border-left: 4px solid #fff;
}

.titleBox03::after,
.titleBox04::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
    border-bottom: 4px solid #fff;
    border-right: 4px solid #fff;
}

.messageAnserArea {
    padding: 20px 0 30px;
}

.messageWrap {
    max-width: 780px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 284px 284px 284px;
    grid-template-columns: 1fr 2fr;
    grid-gap: 5px 5px;
}

.itemImage img {
    max-width: 244px;
    border: 3px solid #EBB94D;
}

.itemText {
    padding: 15px;
}

.textMItalic {
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 1.5px;
    font-style: italic;
    color: #767676;
    text-align: justify;
    text-align-last: left;
    margin-bottom: 8px;
}

.textSItalic {
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 1.5px;
    font-style: italic;
    text-decoration: underline;
    color: #767676;
    text-align-last: left;
}



/* sectionCourse */
.courseImageArea {
    padding: 60px 0 50px;
    background-image: url(../image/classbg.jpg);
    background-size: cover;
    background-position: 50% 50%;
    text-align: center;
}

.courseBoxWrap {
    display: flex;
    width: 780px;
    margin: 52px auto 30px;
    align-items: baseline;
    justify-content: space-between;
}

.courseBox {
    background-color: #ffffff;
    border: 2px solid #026EA9;
    border-radius: 5px;
    width: 375px;
    margin: 0;
}

.courseBoxTitle {
    background-color: #026EA9;
    padding: 15px 0 5px;
}

.couseList li {
    padding: 10px 0;
    border-bottom: 1px dotted #E5E5E5;
}

.couseList li:nth-child(1) {
    padding: 20px 0 10px;
}

.couseList li:last-child {
    border-bottom: none;
}



/* sectionFlow */
.sectionFlow {
    padding: 60px 0 40px;
    margin: 0 20px;
    text-align: center;
}

.fa-size {
    font-size: 22px;
    vertical-align: 2px;
}

.fa-size02 {
    font-size: 23px;
    vertical-align: 2px;
}

.flowImage {
    max-width: 100%;
    margin: 50px auto 40px;
}

.flowBox {
    max-width: 1170px;
    margin: 0 auto;
    padding: 10px 35px;
    background-color: #FEF5E0;
    border-radius: 10px;
    display: flex;
}

.flowImageItem {
    padding: 20px 0;
    width: 200px;
    text-align: center;
    flex-shrink: 0;
}

.flowList .flowBox:nth-child(3) > .flowImageItem {
    padding: 60px 0 35px;
}

.flowImageItem p {
    margin-bottom: 0px;
}

.flowBox p {
    margin-top: 20px;
}

.flowTextItem {
    margin-top: 10px;
    text-align: left;
}

.flowBox + img {
    width: 68%;
}

.flowAccordion {
    display: none;
}



/* sectionBangkok */
.sectionBangkok {
    background-image: url(../image/bangkokbg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: left;
    color: #ffffff;
    padding: 100px 80px 70px;
}

.bangkokInner {
    width: 1170px;
    max-width: calc( 100% - 40px );
    margin: 0 auto;
}

.sectionBangkok h2,
.sectionBangkok p,
.sectionBangkok li {
    padding-bottom: 10px;
}



/* sectionBenefit */
.sectionBenefit {
    padding: 60px 0 40px;
    background-color: #F7C23B;
    text-align: center;
}

.benefitBox {
    max-width: 1170px;
    padding: 54px 20px;
    margin: 135px auto 0;
    border: 2px solid #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.benefitBoxHeader {
    position: absolute;
    top: -70px;
    left: 26.2%;
    width: 47.5%;
    display: block;
    background-color: #f7c23b;
}

.pc {
    display: block;
}

.sp {
    display: none;
}

.benefitItem {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    padding: 15px;
}



/* sectionValue */
.sectionValue {
    background-image: url(../image/specialdetail.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 60px 0 70px;
    text-align: center;
    color: #ffffff;
}

.titleBox04 {
    width: 860px;
    max-width: calc( 100% - 40px );
    padding: 15px 0;
    margin: 0 auto 20px;
    position: relative;
    text-align: center;
}

.sectionValue h2 {
    margin: 0;
}

.br-sp02 {
    display: none;
}



/* sectionFounder */
.sectionFounder {
    padding: 50px 0 80px;
    text-align: center;
}

.founderBox {
    max-width: 890px;
    margin: 0 auto;
    display: flex;
}

.founderImageBlock {
    max-width: 222px;
    padding: 0 15px;
}

.founderImageBlock img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.founderTextBlock {
    text-align: left;
    padding: 0 15px;
}

.sectionFounder h2,
.sectionFounder p {
    padding-bottom: 2px;
}



/* sectionContact */
.sectionContact {
    padding: 50px 0 70px;
    background-color: #ebb94d;
    text-align: center;
}

.formItem input {
    width: 60%;
    margin: 0 auto;
    background-color: #ffffff;
    text-align: left;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    line-height: 1.5;
    height: 55px;
}

.formItem textarea {
    width: 60%;
    margin: 0 auto;
    background-color: #ffffff;
    text-align: left;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    line-height: 1.5;
    height: 100px;
}

.formItem input[type="text"]:focus,
.formItem input[type="email"]:focus,
.formItem textarea:focus {
    border: 2px solid rgb(195, 195, 195);
    outline: 0;
}

.formItem {
    margin-bottom: 30px;
}

.formButton {
    width: 60%;
    margin: 0 auto;
    height: 55px;
    border-radius: 27px;
    background-color: #da6b64;
    font-size: 22px;
    font-weight: 600;
    line-height: 55px;
    color: #ffffff;
}



/* sectionFaq */
.sectionFaq {
    padding: 50px 0;
    text-align: center;
}

.faqAccordion {
    text-align: left;
    width: 77%;
    margin: 40px auto 0;
}

.faqMenu dt {
    padding: 15px 20px;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    position: relative;
}

.faqMenu dt::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    font-size: 15px;
    content: "\f059";
    color: #026da9;
    margin-right: -8px;
}

.faqMenu dt span:hover {
    text-decoration: underline;
}

.faqMenu dt::after {
    content: '';
    width: 14px;
    height: 14px;
    border: 0px;
    border-top: 5px solid #E5E5E5;
    border-right: 5px solid #E5E5E5;
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    position: absolute;
    bottom: 40%;
    right: 25px;
    transition: all 0.2s ease-in-out;
}

.faqMenu dt.open:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 40%;
}

.faqMenu dd {
    padding: 20px;
    margin: 0 0 20px;
    display: none;
}

.faqMenu dd.js-active {
    display: block;
}



/* footer */
.footer {
    padding: 40px 0 20px;
    background-color: #ececec;
    text-align: center;
}

.footerText {
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 1.5px;
    line-height: 1.6;
}

.footerText a {
    color: #337ab7;
}

.footerText a:hover {
    text-decoration: underline;
}



/* jQuery　トップページ戻るボタン */
#page-top {
    position: fixed;
    bottom: 102px;
    right: 51px;
}

#page-top a {
    background-color: #ECECEC;
    color: #333333;
    padding: 15px 22px;
    font-size: 41px;
}

.fa-angle-up {
    color: #333333;
}





/* 画面サイズ：〜1190pxの場合 */
@media all and (max-width: 1190px) {

    /* フォント */
    .title01 {
        font-size: 24px;
    }

    .title02 {
        font-size: 24px;
    }

    .title02 .textL02 {
        line-height: 2.5;
    }

    .title03 {
        font-size: 24px;
    }

    .title04 {
        font-size: 18px;
        line-height: 2.3;
    }

    .sectionValue .title04 {
        font-size: 24px;
        font-weight: 600;
        letter-spacing: 1.5px;
        line-height: 1;
        margin-top: 10px;
        margin-bottom: 10px;
        color: #ffffff;
    }

    .textXXL01 {
        font-size: 24px;
    }

    .contactBtn.textXXL01 {
        font-size: 18px;
    }

    .textXXL02 {
        font-size: 24px;
    }

    .textXXL03 {
        font-size: 24px;
    }

    .textL01 {
        font-size: 16px;
    }

    .textL02 {
        font-size: 16px;
    }

    .textL03 {
        font-size: 16px;
    }

    .textL04 {
        font-size: 16px;
    }

    .textL05 {
        font-size: 18px;
        letter-spacing: 0;
    }

    .sectionStep .textL05,
    .sectionCourse .textL05,
    .sectionValue .textL05 {
        font-size: 16px;
        letter-spacing: 1.5px;

    }

    .textL06 {
        font-size: 16px;
        letter-spacing: 1.5px;
        margin-bottom: 60px;
    }

    .textL07 {
        font-size: 16px;
    }

    .textL09 {
        font-size: 16px;
    }

    .textS01 {
        font-size: 14px;
    }

    .textS02 {
        font-size: 14px;
    }

    .textS04 {
        font-size: 14px;
    }

    .textS05 {
        font-size: 14px;
    }

    .textS06 {
        font-size: 14px;
    }

    .textS07 {
        font-size: 14px;
    }

    .textXS01 {
        font-size: 12px;
        letter-spacing: 0;
    }

    .textXS03 {
        font-size: 12px;
        letter-spacing: 0;
    }

    .sectionFounder .textXS03 {
        font-size: 14px;
        letter-spacing: 1.5px;
    }

    .textContact {
        font-size: 12px;
        letter-spacing: 0;
        color: #fff;
    }



    /* header */
    .headerText p {
        font-size: 12px;
        letter-spacing: 0;
    }



    /* sectionIntro */
    .noteBox {
        margin: 20px 0 15px;
    }

    .contactBtn {
        padding: 25px 41px;
        margin: 0 80px 30px;
        max-width: 100%;
    }

    .sectionIntro .mb-30px {
        margin-bottom: 30px;
    }



    /* sectionStep */
    .stepBlock {
        width: initial;
        max-width: 100%;
        margin: 30px auto 0;
    }

    .meritBlock {
        width: 1090px;
        max-width: 100%;
        margin: 30px auto 0;
    }

    .stepList {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .meritList {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 calc( 15px + ( 1090px - ( 300px * 3 ) - ( 15px * 6 ) ) / 6 );
    }

    .stepList {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .stepItem {
        margin: 0 0 20px 0;
        width: calc(39% - 15px * 2 / 3);
    }

    .stepText {
        font-size: 14px;
        letter-spacing: 1.5px;
    }



    /* sectionLearn */
    .learnList {
        padding-bottom: 60px;
    }



    /* sectionMerit */
    .meritItem {
        padding: 0 0px 15px;
        width: 300px;
    }

    .meritItem p:nth-child(2) {
        text-align: center;
    }



    /* sectionMenber */
    .sectionMenber .textS05 {
        font-size: 14px;
    }



    /* sectionCourse */
    .courseBoxWrap {
        width: 534px;
    }

    .courseBox {
        width: 252px;
    }



    /* sectionBangkok */
    .sectionBangkok {
        padding: 60px 40px 40px;
    }



    /* sectionBenefit */
    .benefitBox {
        max-width: calc( 100% - 80px );
    }

    .benefitBoxHeader {
        top: -45px;
        left: initial;
        width: 400px;
        margin: 0 auto;
    }



    /* sectionFounder */
    .founderBox {
        width: 100%;
        max-width: calc( 100% - 40px );
    }

    .founderImageBlock {
        width: 25%;
        max-width: 25%;
    }

    .founderTextBlock {
        width: 75%;
    }



    /* sectionContact */
    .formItem input {
        width: 70%;
    }

    .formItem textarea {
        width: 70%;
    }

    .formButton {
        width: 70%;
    }



    /* sectionFaq */
    .faqAccordion {
        width: 90%;
        max-width: calc( 100% - 120px );
    }



}




/* 画面サイズ：〜991pxの場合 */
@media all and (max-width: 991px) {

    /* sectionLearn */
    .sectionLearn {
        padding: 48px 50px 40px;
    }

    .sectionLearn .mb-40px {
        margin-bottom: 40px;
    }



    /* sectionMerit */
    .meritList {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .meritItem {
        padding: 0 0px 15px;
        width: initial;
        text-align: center;
    }

    .itemImg {
        margin: 0 auto 10px;
    }

    .sectionMerit .textS08 {
        font-size: 14px;
        text-align: left;
    }

    .meritBox {
        max-width: calc(100% - 140px);
    }



    /* sectionMenber */
    .menberBlock {
        max-width: calc( 100% - 80px );
        align-items: center;
    }

    .menberCard {
        width: 91%;
        max-width: 100%;
    }



    /* sectionCourse */
    .courseBoxWrap {
        width: 578px;

        flex-direction: column;
    }

    .courseBox {
        width: 100%;
    }

    .courseBoxWrap .courseBox:nth-of-type(1) {
        margin-bottom: 15px;
    }



    /* sectionBenefit */
    .benefitBox {
        max-width: calc( 100% - 80px );
        flex-direction: column;
    }

    .benefitBoxHeader {
        top: -45px;
        width: 400px;
    }

    .benefitBox .pc:not(:nth-of-type(4)) {
        margin-bottom: 30px;
    }



    /* sectionFounder */
    .founderBox {
        width: 100%;
        max-width: calc( 100% - 40px );
        flex-direction: column;
    }

    .founderImageBlock {
        width: 100%;
        max-width: 100%;
        margin-bottom: 40px;
    }

    .founderTextBlock {
        width: 100%;
        max-width: 100%;
    }



    }





/* 画面サイズ：〜768pxの場合 */
@media all and (max-width: 768px) {

    /* header */
    .headerWrap {
        height: 62px;
    }

    .headerTitle {
        padding-top: 6px;
        padding-bottom: initial;
        align-items: flex-start;
        flex-direction: column-reverse;
    }

    .headerLogo img {
        width: 90px;
    }

    .headerText {
        padding-bottom: 1px;
    }

    .headerText p {
        font-size: 12px;
        letter-spacing: 0;
    }

    .headerContact-pc {
        display: none;
    }

    .headerContact-sp {
        display: block;
        width: 76px;
        height: 100%;
        padding: 9px 11px;
        margin-right: -10px;
        text-align: center;
        background-color: #DA6B64;
        position: relative;
    }

    .headerContact-sp img {
        width: 20px;
        margin: 0 auto;
        display: block;
    }

    .headerContact-sp a {
        display: block;
        font-size: 12px;
        letter-spacing: 1.5px;
        line-height: 1.6;
        color: #ffffff;
        width: 100%;
        height: 100%;
    }

    .headerContact-sp a:hover {
        text-decoration: underline;
    }

    .headerContact-sp a::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
    }



    /* sectionHero */
    .sectionHero {
        background-image: url(../image/mainsp.jpg);
        margin-top: 62px;
    }

    .heroTitle:nth-child(1) {
        margin-bottom: 0;
    }

    .heroTitle:nth-child(2) {
        margin-bottom: 22px;
    }



    /* sectionIntro */
    .introInner {
        padding: 15px 0 25px;
    }

    .br-sp {
        display: block;
    }

    .sectionIntro .textXXL01 {
        font-size: 18px;
    }

    .sectionIntro .textL05 {
        font-size: 15px;
        margin-bottom: 25px;
    }

    .sectionIntro .textL05:last-child {
        margin-bottom: 35px;
    }


    /* sectionEngineer */
    .titleBox01::before,
    .titleBox02::before {
        width: 30px;
        height: 30px;
    }

    .titleBox01::after,
    .titleBox02::after {
        width: 30px;
        height: 30px;
    }



    /* sectionSkill */
    .pointArea {
        top: -30px;
    }

    .point {
        width: 60px;
        height: 60px;
    }

    .point p {
        font-size: 12px;
        line-height: 60px;
    }

    .sectionBox {
        padding: 10px 10px 5px;
    }

    .skillItem img {
        height: 30px;
    }

    .sectionSkill .textXXS01 {
        font-size: 10px;
    }



    /* sectionStep */
    .stepImageArea {
        background-image: url(../image/aboutsecondbgsp.jpg);
    }

    .sectionStep .textXXL02 {
        line-height: 1.2;
    }

    .sectionStep .textArea .textL05 {
        font-size: 13px;
    }

    .stepItem {
        padding: 15px 50px 10px;
        margin: 0 0 20px;
        width: calc(37% - 15px * 2 / 3);
    }

    .stepItem:last-child {
        margin-bottom: 50px;
    }

    .stepText {
        margin-bottom: 18px;
    }

    .sectionStep .textXS01 {
        margin-bottom: 8px;
    }

    .sectionStep .textS02 {
        margin-bottom: 5px;
    }

    .stepTextArea {
        padding: 20px 0 10px;
    }

    .sectionStep .stepTextArea .textL05 {
        font-size: 12px;
    }



    /* sectionLearn */
    .sectionLearn {
        padding: 30px 0 20px;
    }

    .sectionLearn .title01 {
        margin-bottom: 40px;
    }

    .sectionLearn .textL06 {
        margin-bottom: 30px;
    }

    .learnList {
        padding: 0 55px 35px;
    }

    .learnItem {
        padding: 0 22px;
    }

    .sectionLearn .textS03 {
        font-size: 14px;
    }



    /* sectionMerit */
    .title02 {
        line-height: 1;
    }

    .title02 .textL02 {
        display: inline-block;
        line-height: 1.5;
    }

    .textS08 {
        text-align: left;
        font-size: 14px;
    }

    .meritItem {
        max-width: calc( 100% - 110px );
    }

    .itemImg {
        height: 120px;
    }

    .meritBox {
        max-width: calc( 100% - 140px );
        padding: 10px;
    }

    .meritBox .title03 {
        margin-top: initial;
    }

    .meritBox .textS03 {
        font-size: 10px;
    }

    .meritBlock .textXS03 {
        margin-left: 70px;
        margin-right: 70px;
    }


    /* sectionMenber */

    .sectionMenber {
        padding-top: 90px;
        padding-bottom: 50px;
        background-image: url(../image/teacherbgsp.jpg);
    }

    .menberCard {
        margin: 120px 15px 0;
        padding: 43px 10px 10px;
    }

    .menberCard img {
        width: 120px;
        height: 120px;
        top: -87px;
    }



    /* sectionMessage */
    .messageArea {
        padding: 20px 0 20px;
    }

    .messageArea::after {
        bottom: -15px;
        border-width: 15px 15px 0 15px;
    }

    .messageCircle p {
        font-size: 20px;
    }

    .titleBox03 {
        width: 95%;
        max-width: calc( 100% - 20px );
        padding: 5px 10px;
        margin: 0 auto 0;
    }

    .titleBox03::before,
    .titleBox04::before {
        width: 30px;
        height: 30px;
    }

    .titleBox03::after,
    .titleBox04::after {
        width: 30px;
        height: 30px;
    }

    .messageAnserArea {
        padding: 20px 0 0;
    }

    .sectionMessage .textS03 {
        font-size: 14px;
    }

    .messageWrap {
        margin: 20px auto 0;
    }



    /* sectionCourse */
    .courseImageArea {
        background-image: url(../image/classbgsp.jpg);
    }

    .courseTextArea {
        background-color: #026ea9;
        padding: 20px 0 10px;
        text-align: center;
    }



    /* sectionFlow */

    .sectionFlow .flowImage,
    .flowList {
        display: none;
    }

    .sectionFlow {
        padding: 40px 30px 50px;
    }

    .flowBox-sp {
        margin: 0 auto 5px;
        padding: 10px 15px;
        background-color: #FEF5E0;
        border-radius: 10px;
    }

    .flowImageItem {
        padding: 0;
        width: initial;
        text-align: initial;
        flex-shrink: initial;
    }

    .flowImageItem img,
    .flowImageItem p {
        display: inline;
    }

    .flowBox-sp p {
        line-height: 2;
    }

    .flowBox-sp .textM01 {
        font-size: 16px;
    ;}

    .flowTextItem-sp {
        margin-top: 10px;
        text-align: left;
    }

    .flowTextItem-sp .textS03 {
        font-size: 14px;
    }

    .flowImageItem > img {
        width: 35px;
        margin-right: 10px;
    }

    .flowBox-sp:nth-child(4) .flowImageItem > img {
        width: 29px;
        margin: 0 10px 0 6px;
    }

    .flowAccordion {
        text-align: left;
        width: 100%;
        margin: 30px auto 0;
        display: block;
    }

    .flowMenu .flowImageItem {
        padding: 0;
        position: relative;
    }

    .flowMenu .flowImageItem:hover {
        text-decoration: underline;
    }

    .flowMenu .flowImageItem::after {
        content: '';
        width: 11px;
        height: 11px;
        border: 0px;
        border-top: 4px solid #333333;
        border-right: 4px solid #333333;
        -ms-transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
        position: absolute;
        bottom: 40%;
        right: 5px;
        transition: all 0.2s ease-in-out;
    }

    .flowMenu .flowImageItem.open:after {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 40%;
    }

    .flowMenu .flowTextItem-sp {
        padding: 20px 0 10px;
        margin: 0;
        display: none;
    }

    .flowMenu .flowTextItem-sp.js-active {
        display: block;
    }



    /* sectionBangkok */
    .sectionBangkok {
        background-image: url(../image/bangkokbgsp.jpg);
        padding: 60px 40px 40px;
    }

    .textXS04 {
        font-size: 12px;
    }

    .sectionBangkok .textL05 {
        font-size: 14px;
    }



    /* sectionBenefit */
    .sectionBenefit {
        padding: 60px 15px 40px;
    }

    .sectionBenefit .textS03 {
        font-size: 14px;
    }

    .sectionBenefit .textXXL01 {
        font-size: 18px;
    }

    .benefitBox {
        padding: 45px 35px;
        margin: 70px auto 0;
        display: block;
        justify-content: initial;
        align-items: initial;
        flex-wrap: initial;
    }

    .benefitBoxHeader {
        top: -30px;
        left: 50%;
        transform: translate(-50%, 0);
        width: 250px;
    }

    .pc {
        display: none;
    }

    .sp {
        display: block;
    }

    .benefitContents {
        display: flex;
        width: 100%;
        align-items: center;
    }

    .benefitContents:not(:last-child) {
        margin-bottom: 15px;
    }

    .benefitContent01 {
        width: 30%;
    }

    .sectionBenefit .textXL02 {
        font-weight: 600;
        font-size: 12px;
        margin-bottom: 0;
    }

    .benefitItem {
        width: 60px;
        height: 60px;
        padding: 0;
        margin: 0 auto;
        justify-content: center;
    }

    .benefitContent02 {
        width: 70%;
        text-align: left;
    }

    .sectionBenefit .textXS02 {
        font-size: 12px;
        color: #ffffff;
        margin-bottom: 0;
    }



    /* sectionValue */
    .sectionValue {
        background-image: url(../image/specialdetailsp.jpg);
    }

    .titleBox04 {
        max-width: calc( 100% - 120px );
    }

    .br-pc {
        display: none;
    }

    .sectionValue .textXXL03 {
        margin-bottom: 20px;
    }

    .titleBox04 {
        margin-top: 40px;
        margin-bottom: 10px;
    }

    .sectionValue .title04 {
        line-height: 1.8;
    }



    /* sectionFounder */
    .sectionFounder {
        padding: 30px 0 60px;
    }

    .sectionFounder .title01 {
        margin-bottom: 20px;
    }

    .founderImageBlock {
        margin: 20px 0 30px;
    }

    .sectionFounder .textXS03:nth-child(2),
    .sectionFounder .textXS03:nth-child(3) {
        margin-bottom: 30px;
    }



    /* sectionContact */
    .sectionContact .textS03 {
        font-size: 14px;
        margin-top: 20px;
    }



    /* sectionFaq */
    .faqAccordion {
        max-width: calc( 100% - 80px );
        margin-top: 20px;
    }

    .faqMenu dt {
        padding: 5px 10px;
    }



    /* jQuery　トップページ戻るボタン */
    #page-top {
        bottom: 32px;
        right: 10px;
    }

    #page-top a {
        padding: 15px 16px;
        font-size: 22px;
    }



    }





/* 画面サイズ：〜767pxの場合 */
@media all and (max-width: 767px) {

/* header */
.header {
    width: 767px;
    max-width: 100%;
}



.headerText p {
    font-size: 10px;
    margin-bottom: 2px;
}



/* sectionHero */
.sectionHero {
    height: 310px;
}

.heroInner p {
    display: block;
}

.heroInner img {
    width: 317px;
    max-width: 90vw;
}

.sectionHero .textXXL01 {
    font-size: 18px;
}

.sectionHero .textL03 {
    font-size: 15px;
}



/* sectionIntro */
.sectionIntro p {
    font-size: 15px;
}

.noteBox {
    margin: 15px 0 15px;
}

.noteBox .textM02 {
    font-size: 13.5px;
}

.contactBtn {
    padding: 12px 10px;
    margin: 30px 20px 30px;
    max-width: 100%;
}

.contactBtn a {
    font-size: 20px;
    letter-spacing: 0;
}

.introTextContents {
    padding: 0 10px;
}



/* sectionEngineer */
.sectionEngineer {
    background-image: url(../image/introbottom.jpg);
    background-position: 50% 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

.engineerInner {
    padding: 30px 0 110px;
}

.titleBox01 {
    padding-top: 15px;
    padding-bottom: 5px;
    margin: 0 auto 25px;
}

.title01 {
    font-size: 18px;
    line-height: 2.3;
}

.sectionEngineer p {
    font-size: 15px;
    letter-spacing: normal;
}



/* sectionSkill */
.sectionSkill .textL02 {
    font-size: 15px;
}



/* sectionStep */
.stepImageArea {
    padding: 50px 30px 0;
}

.sectionStep .textXXL02 {
    font-size: 18px;
}

.sectionStep .textL05 {
    letter-spacing: normal;
}

.stepItem {
    width: 767px;
    max-width: 100%;
}

.stepItem p {
    font-size: 12px;
}



/* sectionLearn */
.sectionLearn .textS01 {
    font-size: 12px;
}

.sectionLearn .textL06 {
    font-size: 15px;
    margin-bottom: 15px;
}

.sectionLearn .textS03 {
    font-size: 12px;
}

.learnList {
    display: flex;
    justify-content: center;
    padding: 0 50px 20px;
}

.learnItem {
    width: 25%;
    padding: 5px;
}

.learnItem img {
    max-width: 120px;
}



/* sectionMerit */
.titleBox02 {
    width: 860px;
    max-width: calc( 100% - 40px );
    padding: 25px 0;
    margin: 0 auto 20px;
    position: relative;
    text-align: center;
}

.sectionMerit .textL02 {
    font-size: 15px;
    margin-bottom: 20px;
}

.sectionMerit .title02 {
    font-size: 18px;
}

.meritList {
    padding: 0 20px;
}

.meritItem {
    width: 100%;
    max-width: 100%;
}

.itemImg {
    height: 120px;
    width: 100%;
    max-width: 767px;
}

.sectionMerit .textL09 {
    font-size: 15px;
}

.sectionMerit .textS08 {
    font-size: 12px;
}

.meritBox {
    max-width: calc( 100% - 40px );
    margin: 10px auto 15px;
}

.title03 {
    font-size: 18px;
}

.meritBlock .textXS03 {
    margin: 0 10px 10px;
}


/* sectionMenber */
.sectionMenber {
    padding: 60px 10px 20px;
}

.sectionMenber .textXXL02 {
    font-size: 18px;
}

.sectionMenber .textS04 {
    font-size: 12px;
}

.menberBlock {
    width: 810px;
    max-width: 100%;
    margin: 0 auto;
}

.menberCard {
    margin: 120px 0px 0;
}


/* sectionMessage */
.messageCircle {
    width: 60px;
    height: 60px;
}

.messageCircle p {
    font-size: 12px;
    line-height: 60px;
}

.sectionMessage .title04 {
    font-size: 14px;
    line-height: 2.8;
}

.messageAnserArea {
    padding: 0;
}

.sectionMessage .title01 {
    margin-top: 0;
}

.sectionMessage .textS03 {
    font-size: 12px;
}

.messageWrap {
    margin: 20px 10px 40px;
    grid-template-rows: auto auto auto;
    grid-gap: 40px 5px;
}

.sectionMessage .itemImage {
    padding: 0 15px 0 0;
}

.sectionMessage .itemImage img {
    width: 244px;
    max-width: 100%;
}

.sectionMessage .itemText {
    padding: 0;
}



/* sectionCourse */
.courseImageArea {
    padding: 40px 10px;
}

.textXXL03 {
    font-size: 18px;
}

.sectionCourse .textS06 {
    font-size: 12px;
}

.courseBoxWrap {
    width: 100%;
    max-width: 100%;
    margin: 30px auto 10px;
}

.sectionCourse .textL05 {
    font-size: 15px;
}

.sectionCourse .textS07 {
    font-size: 12px;
}



/* sectionFlow */
.sectionFlow {
    padding: 40px 20px 50px;
    margin: 0;
}

.sectionFlow .textXXL01 {
    font-size: 18px;
}

.sectionFlow .textM01 {
    font-size: 15px;
}

.sectionFlow .textS03 {
    font-size: 12px;
}



/* sectionBangkok */
.sectionBangkok {
    padding: 40px 15px 20px;
}

.sectionBangkok .textS04 {
    font-size: 12px;
}

.sectionBangkok .textL05 {
    font-size: 15px;
}



/* sectionBenefit */
.sectionBenefit {
    padding: 30px 15px 20px;
}

.fa-size02 {
    font-size: 18px;
    vertical-align: 1px;
}
.sectionBenefit .mb-40px {
    margin-bottom: 20px;
}

.sectionBenefit .textS03 {
    font-size: 12px;
}



/* sectionValue */
.sectionValue {
    padding: 40px 0;
}

.titleBox04 {
    width: 860px;
    max-width: calc( 100% - 40px );
    padding: 15px 0;
    margin: 0 auto 20px;
    position: relative;
    text-align: center;
}

.sectionValue h2 {
    margin: 0;
}

.br-sp02 {
    display: block;
}

.sectionValue .textXXL03 {
    font-size: 18px;
}

.sectionValue .title04 {
    font-size: 18px;
}

.sectionValue .textL05 {
    font-size: 12px;
}



/* sectionContact */
.sectionContact {
    padding: 50px 20px 70px;
}

.sectionContact .textS03 {
    font-size: 12px;
}

.formItem input {
    width: 100%;

}

.formItem textarea {
    width: 100%;
}

.formButton {
    width: 100%;
}



/* sectionFaq */
.faqAccordion {
    max-width: calc( 100% - 30px );
}

.faqMenu dt::after {
    width: 10px;
    height: 10px;
    border-top: 4px solid #E5E5E5;
    border-right: 4px solid #E5E5E5;
    right: 15px;
}

.faqMenu dt {
    padding: 5px 28px 5px 10px;
}

.sectionFaq .textL07 {
    font-size: 15px;
}

.sectionFaq .textS03 {
    font-size: 12px;
}



}





/* 画面サイズ：〜479pxの場合 */
@media all and (max-width: 479px) {

/* sectionMessage */
.textMItalic {
    font-size: 14px;
}

.textSItalic {
    font-size: 12px;
}


}