/* test */

/* 画面サイズ：〜768pxの場合 */
@media all and (max-width: 768px) {

/* header */
.headerWrap {
    height: 62px;
}

.headerTitle {
    padding-top: 6px;
    padding-bottom: initial;
    align-items: flex-start;
    flex-direction: column-reverse;
}

.headerLogo img {
    width: 90px;
}

.headerText {
    padding-bottom: 1px;
}

.headerText p {
    font-size: 12px;
    letter-spacing: 0;
}

.headerContact-pc {
    display: none;
}

.headerContact-sp {
    display: block;
    width: 76px;
    height: 100%;
    padding: 9px 11px;
    margin-right: -10px;
    text-align: center;
    background-color: #DA6B64;
    position: relative;
}

.headerContact-sp img {
    width: 20px;
    margin: 0 auto;
    display: block;
}

.headerContact-sp a {
    display: block;
    font-size: 12px;
    letter-spacing: 1.5px;
    line-height: 1.6;
    color: #ffffff;
    width: 100%;
    height: 100%;
}

.headerContact-sp a:hover {
    text-decoration: underline;
}

.headerContact-sp a::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}



/* sectionHero */
.sectionHero {
    background-image: url(../image/mainsp.jpg);
    margin-top: 62px;
}

.heroTitle:nth-child(1) {
    margin-bottom: 0;
}

.heroTitle:nth-child(2) {
    margin-bottom: 22px;
}



/* sectionIntro */
.introInner {
    padding: 15px 0 25px;
}

.br-sp {
    display: block;
}

.sectionIntro .textXXL01 {
    font-size: 18px;
}

.sectionIntro .textL05 {
    font-size: 15px;
    margin-bottom: 25px;
}

.sectionIntro .textL05:last-child {
    margin-bottom: 35px;
}


/* sectionEngineer */
.titleBox01::before,
.titleBox02::before {
    width: 30px;
    height: 30px;
}

.titleBox01::after,
.titleBox02::after {
    width: 30px;
    height: 30px;
}



/* sectionSkill */
.pointArea {
    top: -30px;
}

.point {
    width: 60px;
    height: 60px;
}

.point p {
    font-size: 12px;
    line-height: 60px;
}

.sectionBox {
    padding: 10px 10px 5px;
}

.skillItem img {
    height: 30px;
}

.sectionSkill .textXXS01 {
    font-size: 10px;
}



/* sectionStep */
.stepImageArea {
    background-image: url(../image/aboutsecondbgsp.jpg);
}

.sectionStep .textXXL02 {
    line-height: 1.2;
}

.sectionStep .textArea .textL05 {
    font-size: 13px;
}

.stepItem {
    padding: 15px 50px 10px;
    margin: 0 0 20px;
    width: calc(37% - 15px * 2 / 3);
}

.stepItem:last-child {
    margin-bottom: 50px;
}

.stepText {
    margin-bottom: 18px;
}

.sectionStep .textXS01 {
    margin-bottom: 8px;
}

.sectionStep .textS02 {
    margin-bottom: 5px;
}

.stepTextArea {
    padding: 20px 0 10px;
}

.sectionStep .stepTextArea .textL05 {
    font-size: 12px;
}



/* sectionLearn */
.sectionLearn {
    padding: 30px 0 20px;
}

.sectionLearn .title01 {
    margin-bottom: 40px;
}

.sectionLearn .textL06 {
    margin-bottom: 30px;
}

.learnList {
    padding: 0 55px 35px;
}

.learnItem {
    padding: 0 22px;
}

.sectionLearn .textS03 {
    font-size: 14px;
}



/* sectionMerit */
.title02 {
    line-height: 1;
}

.title02 .textL02 {
    display: inline-block;
    line-height: 1.5;
}

.textS08 {
    text-align: left;
    font-size: 14px;
}

.meritItem {
    max-width: calc( 100% - 110px );
}

.itemImg {
    height: 120px;
}

.meritBox {
    max-width: calc( 100% - 140px );
    padding: 10px;
}

.meritBox .title03 {
    margin-top: initial;
}

.meritBox .textS03 {
    font-size: 10px;
}



/* sectionMenber */

.sectionMenber {
    padding-top: 90px;
    padding-bottom: 50px;
    background-image: url(../image/teacherbgsp.jpg);
}

.menberCard {
    margin: 120px 15px 0;
    padding: 43px 10px 10px;
}

.menberCard img {
    width: 120px;
    height: 120px;
    top: -87px;
}



/* sectionMessage */
.messageArea {
    padding: 20px 0 20px;
}

.messageArea::after {
    bottom: -15px;
    border-width: 15px 15px 0 15px;
}

.messageCircle p {
    font-size: 20px;
}

.titleBox03 {
    width: 95%;
    max-width: calc( 100% - 20px );
    padding: 5px 10px;
    margin: 0 auto 0;
}

.titleBox03::before,
.titleBox04::before {
    width: 30px;
    height: 30px;
}

.titleBox03::after,
.titleBox04::after {
    width: 30px;
    height: 30px;
}

.messageAnserArea {
    padding: 20px 0 0;
}

.sectionMessage .textS03 {
    font-size: 14px;
}

.messageWrap {
    margin: 20px auto 0;
}



/* sectionCourse */
.courseImageArea {
    background-image: url(../image/classbgsp.jpg);
}

.courseTextArea {
    background-color: #026ea9;
    padding: 20px 0 10px;
    text-align: center;
}



/* sectionFlow */

.sectionFlow .flowImage,
.flowList {
    display: none;
}

.sectionFlow {
    padding: 40px 30px 50px;
}

.flowBox-sp {
    margin: 0 auto 5px;
    padding: 10px 15px;
    background-color: #FEF5E0;
    border-radius: 10px;
}

.flowImageItem {
    padding: 0;
    width: initial;
    text-align: initial;
    flex-shrink: initial;
}

.flowImageItem img,
.flowImageItem p {
    display: inline;
}

.flowBox-sp p {
    line-height: 2;
}

.flowBox-sp .textM01 {
    font-size: 16px;
;}

.flowTextItem-sp {
    margin-top: 10px;
    text-align: left;
}

.flowTextItem-sp .textS03 {
    font-size: 14px;
}

.flowImageItem > img {
    width: 35px;
    margin-right: 10px;
}

.flowBox-sp:nth-child(4) .flowImageItem > img {
    width: 29px;
    margin: 0 10px 0 6px;
}

.flowAccordion {
    text-align: left;
    width: 100%;
    margin: 30px auto 0;
    display: block;
}

.flowMenu .flowImageItem {
    padding: 0;
    position: relative;
}

.flowMenu .flowImageItem:hover {
    text-decoration: underline;
}

.flowMenu .flowImageItem::after {
    content: '';
    width: 11px;
    height: 11px;
    border: 0px;
    border-top: 4px solid #333333;
    border-right: 4px solid #333333;
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    position: absolute;
    bottom: 40%;
    right: 5px;
    transition: all 0.2s ease-in-out;
}

.flowMenu .flowImageItem.open:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 40%;
}

.flowMenu .flowTextItem-sp {
    padding: 20px 0 10px;
    margin: 0;
    display: none;
}

.flowMenu .flowTextItem-sp.js-active {
    display: block;
}



/* sectionBangkok */
.sectionBangkok {
    background-image: url(../image/bangkokbgsp.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: left;
    color: #ffffff;
    padding: 60px 40px 40px;
}

.sectionBangkok .textXL01 {
}

.textXS04 {
    font-size: 12px;
}

.sectionBangkok .textL05 {
    font-size: 14px;
}



/* sectionBenefit */
.sectionBenefit {
    padding: 60px 15px 40px;
}

.sectionBenefit .textS03 {
    font-size: 14px;
}

.sectionBenefit .textXXL01 {
    font-size: 18px;
}

.benefitBox {
    padding: 45px 35px;
    margin: 70px auto 0;
    display: block;
    justify-content: initial;
    align-items: initial;
    flex-wrap: initial;
}

.benefitBoxHeader {
    top: -30px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 250px;
}

.pc {
    display: none;
}

.sp {
    display: block;
}

.benefitContents {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 15px;
}

.benefitContent01 {
    width: 30%;
}

.sectionBenefit .textXL02 {
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 0;
}

.benefitItem {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    justify-content: center;
}

.benefitContent02 {
    width: 70%;
    text-align: left;
}

.sectionBenefit .textXS02 {
    font-size: 12px;
    color: #ffffff;
    margin-bottom: 0;
}



/* sectionValue */
.sectionValue {
    background-image: url(../image/specialdetailsp.jpg);
}

.titleBox04 {
    max-width: calc( 100% - 120px );
}

.br-pc {
    display: none;
}

.sectionValue .textXXL03 {
    margin-bottom: 20px;
}

.titleBox04 {
    margin-top: 40px;
    margin-bottom: 10px;
}

.sectionValue .title04 {
    line-height: 1.8;
}



/* sectionFounder */
.sectionFounder {
    padding: 30px 0 60px;
}

.sectionFounder .title01 {
    margin-bottom: 20px;
}

.founderImageBlock {
    margin: 20px 0 30px;
}

.sectionFounder .textXS03:nth-child(2),
.sectionFounder .textXS03:nth-child(3) {
    margin-bottom: 30px;
}



/* sectionContact */
.sectionContact .textS03 {
    font-size: 14px;
    margin-top: 20px;
}



/* sectionFaq */
.faqAccordion {
    max-width: calc( 100% - 80px );
    margin-top: 20px;
}

.faqMenu dt {
    padding: 5px 10px;
}



/* jQuery　トップページ戻るボタン */
#page-top {
    bottom: 32px;
    right: 10px;
}

#page-top a {
    padding: 15px 16px;
    font-size: 22px;
}



}
